@font-face {
  font-family: 'Inconsolata-Regular';
  src: url('Inconsolata-Regular.ttf')  format('truetype');
}

body {
  margin: 0;
  display: flex;
  font-family: 'Inconsolata-Regular';
}

[draggable] {
  -webkit-user-select: none;
  -webkit-user-drag: element;
  cursor: -webkit-grabbing;
}

svg, div {
  height: 600px;
}

svg {
  width: 600px;
}

.bg line {
  stroke: #ccc;
}

.fg line {
  stroke: #000;
}

div {
  width: 200px;
  background: #ccc;
}

p {
  margin: 1em;
  color: #999;
}

ul {
  margin: 1em;
  list-style: none;
  padding: 0;
}

li {
  height:50px;
  margin-bottom:1em;
}

a, span {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  color: #fff;
  text-align: center;
}

a {
  position:absolute;
  text-decoration: none;
}

span {
  background-color: #999;
  cursor: pointer;
}

input {
  display: inline-block;
  margin-top: 18px;
  float: right;
  width: calc(100% - 65px);
}

li:nth-of-type(n+0) a {
  background-color: #ff8c00;
}

li:nth-of-type(n+1) a {
  background-color: #2f4f4f;
}

li:nth-of-type(n+2) a {
  background-color: #87cefa;
}

li:nth-of-type(n+3) a {
  background-color: #696969;
}

li:nth-of-type(n+4) a {
  background-color: #e9967a;
}
